@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[#333333] font-sans antialiased;
    background-color: #ffffff;
  }
}

/* Tùy chỉnh thanh cuộn cho Modal */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}