:root {
  --color-brand: 60 73 63;
  --color-brand-dark: 42 51 41;
  --color-brand-muted: 77 84 78;
}

.dark {
  --color-brand: 60 73 63;
  --color-brand-dark: 42 51 41;
  --color-brand-muted: 77 84 78;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
